{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label }}</h4>
  {% endif %}

  <a target="_blank" href="https://twitter.com/intent/tweet?via={{ site.twitter.username }}&text={{ page.title }}%20{{ site.sharing_url }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label }} Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.sharing_url }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label }} Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a target="_blank" href="https://plus.google.com/share?url={{ sharing_url }}{{ site.page.url }}" class="btn btn--google-plus" title="{{ site.data.ui-text[site.locale].share_on_label }} Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a>

  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.sharing_url }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label }} LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</section>